{
	"presets": [
      "@babel/typescript",
      "@babel/preset-react"
	],
	"plugins": [
      ["snowpack/assets/babel-plugin.js", {}],
			"@babel/proposal-class-properties",
			"@babel/proposal-object-rest-spread"
	]
}
